html {
  background-color: white;
}

h1{
  font-weight:bold;
  font-size: 2rem;
  font-style: normal;
  font-family: "Sigmar One", normal;
  line-height: 1.5;
  color:#b32f52;
  margin:0em;
}

header{
  text-align: center;
  background-color: #ffe524;
  margin: 0em;
}

h2{
  font-weight:bold;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Sigmar One", normal;
  line-height: 1.5;
  color:#b32f52;
  margin:0em;
}

h3{
  font-size: 1rem;
  font-style: normal;
  font-family: "Sigmar One", normal;
  line-height: 1.5;
  color:#b32f52;
  margin:0em;
}

p{
  font-size: 1rem;
  font-style: normal;
  font-family: "Georgia", normal;
  line-height: 1.5;
  color:black;
  margin:1em;
}

em {
  color:black;
  font-weight: bold;
}

nav ul{
  list-style-type: none;
}

nav{
  background-color:#ffe524;
  text-align: center;
  padding:.5em;
}

nav li{
  display:inline-block;
}

nav a{
  display: inline-block;
  padding: 0.5em .75em;
  background-color:#b2a215 ;
  color:#fff;
  text-decoration: none;
  border-radius: 4px;
}

blockquote{
  font-size:1rem;
  color:#b2a215;
}

cite{
  font-size:1rem;
  color:#b2a215;
  text-align:center;
}

img {
  width: 100%;
}

figure{
  border:1px solid #000;
  border-radius: 10px;
  border-color:#c5b844;
  text-align:center;
  padding: .5em .5em .5em .5em;
  background-color:#fffce0;
}

footer{
  background-color:#ffe524;
  padding:1em;
}

a{
  color:maroon;
}

a:hover {
  color: darkblue;
}
